footer {
background-color: rgb(10, 10, 10);
  color: #ffba5a;
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2rem;
  /* position: fixed; */
  
  }
  
  
  